@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.header {
	padding: 10px; 
	background-color: blue; 
	color: white; 
	font-size: 24pt;
}

.entityDOM {
	font-size: 16pt; padding: 5px; display: inline-block; border: 2px solid black; border-radius: 5px; margin: 2px;
}

.attributesDOM {
	position: absolute; display: none; background-color: black; color: white; padding: 5px;
}

.entityDOM:hover + .attributesDOM {
	display: inline-block;
}
